firstPrac/.classpath
firstPrac/.project
firstPrac/.settings/.jsdtscope
firstPrac/.settings/org.eclipse.jdt.core.prefs
firstPrac/.settings/org.eclipse.wst.common.component
firstPrac/.settings/org.eclipse.wst.common.project.facet.core.xml
firstPrac/.settings/org.eclipse.wst.jsdt.ui.superType.container
firstPrac/.settings/org.eclipse.wst.jsdt.ui.superType.name
JSFrandom/.classpath
JSFrandom/.project
JSFrandom/.settings/.jsdtscope
JSFrandom/.settings/org.eclipse.jdt.core.prefs
JSFrandom/.settings/org.eclipse.wst.common.component
JSFrandom/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
JSFrandom/.settings/org.eclipse.wst.common.project.facet.core.xml
JSFrandom/.settings/org.eclipse.wst.jsdt.ui.superType.container
JSFrandom/.settings/org.eclipse.wst.jsdt.ui.superType.name
